.gallery {
  width: 100%;
  max-width: 520px;
  z-index: 1;
}
.image {
  width: 100%;
}

.title {
  width: 100%;
  font-size: 1.9em;
  color: #000000;
  background: linear-gradient(to right, #ffc40066, #00000052);
  padding: 5px 0 10px 13px;
  margin: 0;
  text-align: center;
}
